<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ht_eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,285},{299,257}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{299,257}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,737},{91,81}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,103},{91,81}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{269,237}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{269,237}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,779},{253,231}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{253,231}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{245,241}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{245,241}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{285,281}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{285,281}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{293,271}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{293,271}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,263}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{311,263}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,544},{189,209}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,33},{189,209}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
            <key>ht_eff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,544},{187,191}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{187,191}}</string>
                <key>sourceSize</key>
                <string>{351,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hetieff.png</string>
            <key>size</key>
            <string>{653,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce99b83fe2586bfab65da069bde72cb5$</string>
            <key>textureFileName</key>
            <string>hetieff.png</string>
        </dict>
    </dict>
</plist>
