<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{459,443}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{459,443}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,621},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,423},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,652},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,425},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,652},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,425},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,437},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,247},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,437},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,447},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>150.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,664},{191,201}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,112},{191,201}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>151.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,674},{191,203}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,109},{191,203}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>152.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,664},{223,201}}</string>
                <key>offset</key>
                <string>{-21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,111},{223,201}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>181.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,447},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,650},{213,221}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,90},{213,221}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>191.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,474},{145,197}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,106},{145,197}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{243,217}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,89},{243,217}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{213,225}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{213,225}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>301.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,674},{203,191}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,99},{203,191}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{207,191}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,96},{207,191}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>gold_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2},{423,419}}</string>
                <key>offset</key>
                <string>{-20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{423,419}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>hongbao_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{459,433}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{459,433}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
            <key>item_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{427,421}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{427,421}}</string>
                <key>sourceSize</key>
                <string>{527,485}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items_icon.png</string>
            <key>size</key>
            <string>{1997,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab9362a849470a547ca7dc18cdf1575$</string>
            <key>textureFileName</key>
            <string>items_icon.png</string>
        </dict>
    </dict>
</plist>
