<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,833},{78,99}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,52},{78,99}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,528},{102,101}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,50},{102,101}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{102,115}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{102,115}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,711},{120,103}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{120,103}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{122,107}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{122,107}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,271},{118,109}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{118,109}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,141},{128,117}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,34},{128,117}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,598},{142,111}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{142,111}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,396},{130,109}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{130,109}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,275},{130,119}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{130,119}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{136,137}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{136,137}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,711},{140,131}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{140,131}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,141},{132,119}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{132,119}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,853},{138,121}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{138,121}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,452},{144,123}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{144,123}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{148,129}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{148,129}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{148,139}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{148,139}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{148,141}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{148,141}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,141}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{148,141}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,141}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{148,141}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{148,139}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{148,139}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>1041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{148,139}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{148,139}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longicon.png</string>
            <key>size</key>
            <string>{390,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ae1be927df04bdd621380dfff3a25b$</string>
            <key>textureFileName</key>
            <string>longicon.png</string>
        </dict>
    </dict>
</plist>
