<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>refresh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,134}}</string>
                <key>sourceSize</key>
                <string>{129,134}</string>
            </dict>
            <key>refresh_loading01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,119},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading02.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,80},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,119},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,80},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading05.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,41},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,41},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading07.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,119},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading08.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,80},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading09.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,41},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading10.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>refresh_loading12.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{37,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>refresh_loading.png</string>
            <key>size</key>
            <string>{250,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa384113ad5bc3c0bc42de96db11331d$</string>
            <key>textureFileName</key>
            <string>refresh_loading.png</string>
        </dict>
    </dict>
</plist>
